{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
<div class=”browse-controls”>{{- template "_internal/pagination.html" . -}}</div>
{{ range .Paginator.Pages }}
    {{ $thumbnailResource := false }}
    {{ if .Params.thumbnailSpec.page }}
        {{ $thumbnailPage := site.GetPage (.Params.thumbnailSpec.page) }}
        {{ $thumbnailResource = $thumbnailPage.Resources.GetMatch (printf "%s*" (.Params.thumbnailSpec.resource)) }}
    {{ else }}
        {{ $thumbnailResource = resources.Get (.Params.thumbnailSpec.resource) }}
    {{ end }}
    <div class="collection record"> 
        <div class="title">
            <a href="{{ .RelPermalink }}">
                {{.LinkTitle }}
                {{ if $thumbnailResource }}
                    <img src="{{ $thumbnailResource.RelPermalink }}" class="image" alt="">
                {{ end }}
            </a>
        </div>
        {{ with .Params.description }}
        <div class="description">{{ . }}</div>
        {{ end }}
    </div>
{{ end }}
<div class=”browse-controls”>{{- template "_internal/pagination.html" . -}}</div>
{{ end }}
