{{ $itemPage := site.GetPage (.Get "itemPage") }}
{{ with $itemPage.Params.fileIDs }}
<div id="item-images">
{{ range $itemPage.Params.fileIDs }}
    {{ $filePage := site.GetPage (printf "files/%v" . ) }}
    {{ $fileResource := $filePage.Resources.GetMatch "file.*" }}
    {{ $thumbnailResource := $filePage.Resources.Get "square_thumbnail.jpg" }}
    <div>
        <a href="{{ $fileResource.RelPermalink }}">
            {{ with $thumbnailResource }}<img src="{{ $thumbnailResource.RelPermalink }}">{{ end }}
        </a>
    </div>
{{ end }}
</div>
{{ end }}
