{{ $params := .Page.Params }}

{{ if $params.homepageText }}
<p>{{ $params.homepageText | safeHTML }}</p>
{{ end }}

{{ with $params.featuredItem }}
<div id="featured-item">
    <h2>Featured Item</h2>
    {{ $linkResource := site.GetPage (printf "items/%s" (string .itemID)) }}
    {{ $imgResource := false }}
    {{ if and (.thumbnailSpec.page) (.thumbnailSpec.resource) }}
        {{ $imgPage := site.GetPage (.thumbnailSpec.page) }}
        {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
    {{ else if (.thumbnailSpec.resource) }}
        {{ $imgResource = resources.Get (.thumbnailSpec.resource) }}
    {{ end }}
    <div class="item record">
        <div class="title">
            <a class="download-file" href="{{ $linkResource.RelPermalink }}">
                <img src="{{ $imgResource.RelPermalink }}" alt="">
                {{ $linkResource.Params.title }}
            </a>
        </div>
        <div class="description">
            {{ $linkResource.Params.description }}
        </div>
    </div>
</div>
{{ end }}

{{ with $params.featuredCollection }}
<div id="featured-collection">
    <h2>Featured Collection</h2>
    {{ $linkResource := site.GetPage (printf "collections/%s" (string .collectionID)) }}
    {{ $imgResource := false }}
    {{ if and (.thumbnailSpec.page) (.thumbnailSpec.resource) }}
        {{ $imgPage := site.GetPage (.thumbnailSpec.page) }}
        {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
    {{ else if (.thumbnailSpec.resource) }}
        {{ $imgResource = resources.Get (.thumbnailSpec.resource) }}
    {{ end }}
    <div class="collection record">
        <div class="title">
            <a class="download-file" href="{{ $linkResource.RelPermalink }}">
                <img src="{{ $imgResource.RelPermalink }}" alt="">
                {{ $linkResource.Params.title }}
            </a>
        </div>
        <div class="description">
            {{ $linkResource.Params.description }}
        </div>
    </div>
</div>
{{ end }}

{{ if $params.recentItems }}
<div id="recent-items">
    <h2>Recently Added Items</h2>
    {{ range $params.recentItems }}

    {{ $linkResource := site.GetPage (printf "items/%s" (string .itemID)) }}
    {{ $imgResource := false }}
    {{ if and (.thumbnailSpec.page) (.thumbnailSpec.resource) }}
        {{ $imgPage := site.GetPage (.thumbnailSpec.page) }}
        {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
    {{ else if (.thumbnailSpec.resource) }}
        {{ $imgResource = resources.Get (.thumbnailSpec.resource) }}
    {{ end }}
    <div class="item record">
        <div class="title">
            <a class="download-file" href="{{ $linkResource.RelPermalink }}">
                <img src="{{ $imgResource.RelPermalink }}" alt="">
                {{ $linkResource.Params.title }}
            </a>
        </div>
        <div class="description">
            {{ $linkResource.Params.description }}
        </div>
    </div>

    {{ end }}
</div>
{{ end }}
