{{ $params := .Page.Params }}

{{ if $params.homepageText }}
<p>{{ $params.homepageText | safeHTML }}</p>
{{ end }}

{{ $featuredItem := index (where (where .Site.RegularPages "Type" "items") "Params.featured" "eq" 1) 0 }}
{{ $featuredCollection := index (where (where .Site.RegularPages "Type" "collections") "Params.featured" "eq" 1) 0 }}

{{ if or $featuredItem $featuredCollection }}
<div id="featured-records">
    {{ with $featuredItem }}
    <div id="featured-item">
        <h2>Featured Item</h2>
        {{ $imgResource := false }}
        {{ $thumbnailSpec := .Params.thumbnailSpec }}
        {{ if and ($thumbnailSpec.page) ($thumbnailSpec.resource) }}
            {{ $imgPage := site.GetPage ($thumbnailSpec.page) }}
            {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
        {{ else if ($thumbnailSpec.resource) }}
            {{ $imgResource = resources.Get ($thumbnailSpec.resource) }}
        {{ end }}
        <div class="item record">
            <div class="title">
                <a class="download-file" href="{{ .RelPermalink }}">
                    {{ with $imgResource }}<img src="{{ $imgResource.RelPermalink }}" alt="">{{ end }}
                    {{ .Params.title }}
                </a>
            </div>
            <div class="description">
                {{ .Params.description }}
            </div>
        </div>
    </div>
    {{ end }}

    {{ with $featuredCollection }}
    <div id="featured-collection">
        <h2>Featured Collection</h2>
        {{ $imgResource := false }}
        {{ $thumbnailSpec := .Params.thumbnailSpec }}
        {{ if and ($thumbnailSpec.page) ($thumbnailSpec.resource) }}
            {{ $imgPage := site.GetPage ($thumbnailSpec.page) }}
            {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
        {{ else if ($thumbnailSpec.resource) }}
            {{ $imgResource = resources.Get ($thumbnailSpec.resource) }}
        {{ end }}
        <div class="collection record">
            <div class="title">
                <a class="download-file" href="{{ .RelPermalink }}">
                    {{ with $imgResource }}<img src="{{ $imgResource.RelPermalink }}" alt="">{{ end }}
                    {{ .Params.title }}
                </a>
            </div>
            <div class="description">
                {{ .Params.description }}
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}

{{ $recentItems := first 3 (where .Site.RegularPages "Type" "items") }}
{{ if $recentItems }}
<div id="recent-items">
    <h2 class="recent-title">Recently Added Items</h2>
    {{ range $recentItems }}

    {{ $imgResource := false }}
    {{ $thumbnailSpec := .Params.thumbnailSpec }}
    {{ if and ($thumbnailSpec.page) ($thumbnailSpec.resource) }}
        {{ $imgPage := site.GetPage ($thumbnailSpec.page) }}
        {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
    {{ else if ($thumbnailSpec.resource) }}
        {{ $imgResource = resources.Get ($thumbnailSpec.resource) }}
    {{ end }}

    <div class="item record">
        <div class="title">
            <a class="download-file" href="{{ .RelPermalink }}">
                {{ with $imgResource }}<img src="{{ $imgResource.RelPermalink }}" class="image" alt="">{{ end }}
                {{ .Params.title }}
            </a>
        </div>
        <div class="description">
            {{ .Params.description }}
        </div>
    </div>

    {{ end }}
</div>
{{ end }}
