{{ $itemPage := site.GetPage (.Get "itemPage") }}
{{ with $itemPage.Params.files }}
<div class="element-text">
{{ range $itemPage.Params.files }}
    {{ $filePage := site.GetPage (printf "files/%v" .id ) }}
    {{ $fileResource := $filePage.Resources.GetMatch "file.*" }}
    {{ $thumbnailResource := $filePage.Resources.Get "fullsize.jpg" }}
    <div class="item-file">
        {{ if eq .renderer "image" }}
        <a href="{{ $fileResource.RelPermalink }}">
            <img src="{{ $thumbnailResource.RelPermalink }}">
        </a>
        {{ else if eq .renderer "audio" }}
        <audio src="{{ $fileResource.RelPermalink }}" width="200" height="20" controls>
            <a href="{{ $fileResource.RelPermalink }}">{{ $filePage.Params.title }}</a>
        </audio>
        {{ else if eq .renderer "video" }}
        <video src="{{ $fileResource.RelPermalink }}" width="320" height="240" controls>
            <a href="{{ $fileResource.RelPermalink }}">{{ $filePage.Params.title }}</a>
        </video>
        {{ else }}
        <a href="{{ $fileResource.RelPermalink }}">{{ $filePage.Params.title }}</a>
        {{ end }}
    </div>
{{ end }}
</div>
{{ end }}
